// 2.对数值进行格式化
function palyCount(count) {
  var numCount = parseInt(count)
  if(numCount >= 100000000) {
    return (numCount / 100000000).toFixed(1) + '亿'
  }else if (numCount >= 10000) {
    return (numCount / 10000).toFixed(1) +'万'
  }else {
    return numCount
  }
}

// 3.对时间格式化
// 100 -> 01:40
function padLef(time) {
  time = time + ""
  return ("00" + time).slice(time.length)
}
function Time(time) {
  // 0.将毫秒转成秒
  time = time / 1000
  //获取时间
  var minute = Math.floor(time / 60)
  var second = Math.floor(time) % 60

  // 2.字符串拼接
  return padLef(minute) + ":" + padLef(second) 
}
// 2.必须导出后，才能被其他地方调用：必须使用CommonJS导出
module.exports = {
  palyCount:palyCount,
  Time:Time,
}